/* DARK/LIGHT */
.dark {
    color: var(--white);
    background-color: var(--black);
}

.light {
    color: var(--grey);
    background-color: var(--white);
}
/* ----------------- */

.container {
    width: 100%;
    background-color: var(--grey);
}

.title {
    padding-top: 5em;
}

.red {
    color: red;
}

.img_container {
    width: 200px;
}

.img {
    object-fit: cover;
}