.header {
    width: 100%;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--grey);
    color: var(--text-light);
}

.wd {
    width: 100%;
}

/* TOGGLE */
.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
  
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
  
.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 23px;
  left: 0px;
  bottom: 0px;
  background-color: var(--white);
  -webkit-transition: .4s;
  transition: .4s;
}
  
input:checked + .slider:before {
  -webkit-transform: translateX(45px);
  -ms-transform: translateX(45px);
  transform: translateX(45px);
}
  
.slider.round {
  border-radius: 34px;
}
  
.slider.round:before {
  border-radius: 50%;
  background-color: var(--grey);
}
  
.dark.round:before {
  background-color: white;
}
/* ----------------- */

/* DARK/LIGHT */
.dark {
  color: var(--white);
  background-color: var(--grey);
}

.light {
  color: var(--grey);
  background-color: var(--white);
}
/* ----------------- */

.nav_link {
  position: relative;
}

.nav_link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: pink; /* Cor da linha */
  left: 0;
  bottom: -5px; /* Espaçamento entre o texto e a linha */
  transition: width 0.3s ease;
}

.nav_link:hover::after {
  width: 100%;
}