.header {
    width: 100%;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--grey);
    color: var(--text-light);
}

.wd {
    width: 100%;
}


/* ----------------- */

/* DARK/LIGHT */
.dark {
  color: var(--white);
  background-color: var(--grey);
}

.light {
  color: var(--grey);
  background-color: var(--white);
}
/* ----------------- */

.nav_link {
  position: relative;
}

.nav_link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--white); /* Cor da linha */
  left: 0;
  bottom: -5px; /* Espaçamento entre o texto e a linha */
  transition: width 0.3s ease;
}

.nav_link:hover::after {
  width: 100%;
}

.btn_container {
  background-color: black;
}

.btn {
  border: none;
}

/* .sidebar_container {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
} */

@media only screen and (min-width: 1400px) {
  .nav_link {
    font-size: 17px;
  }
}
