.sidebar {
    width: 100%;
    left: 0px;
    background-color: var(--grey);
    height: 100%;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}

.up {
    transform: translateX(0);
}

.wd {
    width: 100%;
}

/* DARK/LIGHT */
.dark {
    color: var(--white);
    background-color: var(--grey);
  }
  
  .light {
    color: var(--grey);
    background-color: var(--white);
  }
/* ----------------- */

@media only screen and (min-width: 900px) {
    .sidebar {
        width: 600px;
    }
}

@media only screen and (min-width: 580px) {
    .sidebar {
        width: 400px;
    }
}
